<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entertainment - Short Films Details</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body class="bg-black text-white">
    <div class="w-full topbar z-[999]">    
        <nav class="navbar flex justify-between text-white items-center mx-[3rem]">
            <div class="navlinks-container flex h-[100%] items-center pl-8">
                <p class="navlink" id="home-link">
                    <a href="/src/home.html" class="hover:text-white">Home</a>
                </p>
                <p class="navlink" id="movies-link">
                    <a href="/src/movies.html" class="hover:text-white">Movies</a>
                </p>
                <p class="navlink" id="musics-link">
                    <a href="/src/musics.html" class="hover:text-white">Music</a>
                </p>
                <p class="navlink" id="shortfilms-link">
                    <a href="/src/shortfilm.html" class="hover:text-white">Short Films</a>
                </p>
                <p class="navlink" id="filmnews-link">
                    <a href="/src/filmnews.html" class="hover:text-white">Film News</a>
                </p>
            </div>

            <!-- Search Bar -->
            <div class="SearchBar pr-10">
                <div class="searchInput flex w-[160px] gap-[10px] p-[10px] border-[3px] rounded-[13px] border-liteOrange mt-3 cursor-pointer" onclick="searchExpand(event)">
                    <label for="searchbar">
                        <img src="/src/assets/icons/search.svg" alt="search Icon" class="w-[25px]"/>
                    </label>
                    <input type="text" placeholder="Search" id="searchbar" class="searchbar bg-transparent w-full placeholder-gray-500 placeholder:font-bold focus:outline-none transition"/>
                </div>
            </div>
        </nav>
    </div>


    <div class="shortfilms-container text-white z-[-1] absolute top-0">
        <div class="hero-image relative z-[-1]">
            <img src="../src/assets/images/short films/adimaithanam.png" alt="Adimaithanam" class="h-[100%] z-[-1]" />
            <div class="image-cover absolute w-[100%] h-[100%] top-0"></div>

            <div class="film-detail absolute top-[15rem] left-[6rem] px-[2rem] flex flex-col gap-3">
                <h1 class="title font-normal font-poetsen text-[64px]">Adimaithanam</h1>
                <p class="w-[52%] break-words text-[14px] font-montserrat font-semibold">The story encapsulates the journey of a young single mother Meena, working as a maid. Despite many setbacks and hardships, Meena believes that there is nothing she cannot ...</p>
                <div class="genre">
                    <p class="text-[#FF2E00] font-montserrat font-semibold">GENRES</p>
                    <p class="font-montserrat font-semibold">Drama</p>
                </div>
                <div class="buttons flex gap-[1rem] items-center">
                    <a  href="https://www.youtube.com/watch?v=khyokxd5xO0" class="watch-btn bg-[#F37022] content-center px-[30px] py-[10px] rounded-[30px] text-[20px] font-montserrat font-semibold h-fit">WATCH</a>
                    <div id="add-list-btn" class="content-center px-[20px] py-[10px] rounded-[30px] text-[20px] font-montserrat font-semibold flex gap-3 bg-[#5C5C5C] cursor-pointer">
                        <p class="add-list">MYLIST</p>
                        <img id="add-icon" src="../../../src/assets/icons/plus.svg" alt="add icon" class="text-white addicon w-[20px] font-bold" />
                    </div>
                </div>
                <div class="flex gap-3 px-2 mt-3 text-[18px] font-montserrat items-center">
                    <p>U/A</p>
                    <p class="px-2 border-[1px] text-[18px] border-white rounded-[5px]">4K</p>
                    <p class="font-bold text-[18px] text-[#959595]">2015</p>
                </div>
                <div class="extras flex gap-[3rem] mt-[1rem] font-montserrat font-semibold">
                    <div class="">
                        <p class="text-[#F37022]">AUDIO</p>
                        <p>Tamil - Audio Description, English[Original]</p>
                    </div>
                    <div>
                        <p class="text-[#F37022]">SUBTITLES</p>
                        <p>Tamil</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="cast-section mx-[4rem] px-2 py-[3rem] bg-[#0B0F1678] absolute translate-y-[-16rem] w-[95%] rounded-[25px] filter backdrop-blur-[6px] h-[298px]">
            <div class="casts-seeks flex gap-[7rem]">
                <a href="https://www.youtube.com/watch?v=khyokxd5xO0" class="promo w-[339px] h-[170px] relative">
                    <div class="bg-white rounded-full p-3 h-[45px] w-[45px] absolute right-4 bottom-3 content-center text-center">
                        <img src="../src/assets/icons/play2.svg" alt="play" />
                    </div>
                </a>
                <div class="casts flex gap-[4rem]" id="cast-crew">
                    <!-- Cast details will be inserted here dynamically -->
                </div>
            </div>
        </div>

        <div class="recommondation mt-[5rem] mx-[4rem] mb-[3rem]">
            <h1 class="font-bold text-[18px] mb-[2rem]">RECOMMENDED FOR YOU</h1>
            <div class="recommend-box flex justify-between gap-[5rem] overflow-x-scroll scrollbarhide w-[1300px]" id="recommend-box">
                <!-- Recommended films will be inserted here dynamically -->
            </div>
        </div>

        <div class="bg-[#F37022] px-[2rem] py-[1rem] flex justify-between items-center text-white">
            <a href="#" class="font-poppins font-medium text-[20px]">About Us</a>
            <a href="#" class="font-poppins font-medium text-[20px]">Contact Us</a>
            <div class="socials flex gap-[20px]" id="social-media">
                <!-- Social media icons will be inserted here dynamically -->
            </div>
            <p class="font-poppins font-medium text-[20px]">©️Myango2016</p>
        </div>
    </div>


    <script src="./assets/js/navbar.js"></script>
    <script type="module" src="./assets/js/shortfilmDetails.js"></script>
</body>
</html>
