<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Login</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>

</head>
<body>
    <div class='w-full h-[100vh] flex flex-col justify-center items-center text-white gap-3'>
        <a href="" class='login-btn px-10 py-5 bg-green-400 rounded-lg text-[20px] font-inter font-semibold'>
            LOGIN
        </a>
    </div>
   <script type="module"  src="./assets/data/js/spotify.js"></script>
</body>
</html>